.wrapper_unwitty_game {
  background: #212121;
  background: #232a2e;
  background: #1e2528;
  /* background: white; */
  position: relative;
}

.wrapper_canvas_unwitty_game {
  height: 100%;
  width: 100%;
  position: relative;
}

.wrapper_canvas_unwitty_game canvas {
  background: transparent;
  margin: 0 auto;
  display: block;
  cursor: crosshair;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-smooth: never;
  -webkit-font-smoothing: none;
  height: 100%;
  width: 100%;
}

.wrapper_overlays_unwitty_game {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
