@font-face {
  font-family: primaryFont;
  src: url("./assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf")
    format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-image: url("./assets/images/Brick\ -\ Large\ -\ Weak.svg");
}
canvas {
  background: #fff;
  margin: 0 auto;
  display: block;
}
